.hero-container {
  /*
  */
  background: url('../../images/adrien-olichon-RCAhiGJsUUE-unsplash.jpg') center
    center/cover no-repeat;
  height: 90vh;
  width: 100%;
  z-index: 1;
  padding: 1px;
  margin-bottom: -480px;
  transition: 0, 5s;
}

.video {
  object-fit: cover;
  width: 50%;
  height: 50%;
  position: fixed;
  z-index: 1;
}

.title {
  margin-top: 150px;
  margin-left: 100px;
  color: #ebeae9;
  z-index: 1;
  animation: 0.5s ease-out 0s 1 slideup;
  position: relative;
}

.tobuylink {
  width: 110px;
  margin-top: 40px;
  margin-left: 410px;
  font-weight: 300;
  border-bottom: 2px solid white;
  padding-left: 5px;
  z-index: 5;
  display: block;
  position: relative;
  cursor: pointer;
}

.tobuylink h4 {
  color: white;
}
/* Try to underline bylink link transition.
*/
.tobylink:hover {
  width: 10px;
  height: 2px;
  transition: 0.5s ease-out;
  width: 0px;
  color: black;
}

.a {
  color: inherit;
  text-decoration: none;
  animation: 0.5s ease-out 0s 1 slideup;
}

.h2 {
  margin-left: 100px;
  font-size: 30px;
  font-weight: 350;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 620px) {
  .title {
    margin-top: 250px;
    margin-left: 10px;
  }

  .h2 {
    margin-left: 10px;
  }

  .tobuylink {
    margin-top: 113px;
    margin-left: 40px;
  }
}

@keyframes slideup {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-0%);
  }
}
