.card {
  transition: 0.3s;
  display: block;
  z-index: 1;
}

.image {
  width: 20px;
  margin-left: -50px;
  display: block;
  zoom: 1;
  overflow: hidden;
}

.list-items {
  list-style: none;
  margin-top: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  margin-top: 300px;
  padding-left: 20px;
  z-index: 289;
}

.card-inner {
  display: block;
  width: 80%;
  height: 100%;
  padding: 10px;
  padding-bottom: 20px;
  width: 300px;
  height: 450px;
  background-size: cover;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  border: 15px solid white;
  transition: 0.2s;
}

/* Trying to get a overlay over card
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(233, 20, 20);
  background-color: rgba(212, 18, 18, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay:hover {
  height: 0%;
  width: 0%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(233, 20, 20);
  background-color: rgba(212, 18, 18, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
*/
.card-inner:hover {
  transition: 0.2s;
  filter: none !important;
  opacity: 1 !important;
}

.wrapper-grid {
  display: grid;
  margin-left: 39%;
  margin-right: 61%;
  justify-content: center;
}

@media screen and (max-width: 410px) {
  .wrapper-grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-top: -0px;
  }
  .list-items {
    margin-top: 10px;
  }
}

@media screen and (min-width: 910px) {
  .wrapper-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-top: -0px;
  }
  .list-items {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1355px) {
  .wrapper-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 150px;
    margin: auto;
  }
  .list-items {
    margin-top: 80px;
  }
}
