.card {
  transition: 0.5s;
  display: block;
  z-index: 1;
  height: 410px;
  width: 310px;
  background-position: center center;
  background-size: 140%;
  background-repeat: none;
  z-index: 100;
  overflow-x: hidden;
}

.card:hover {
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image {
  width: 20px;
  margin-left: -50px;
  display: block;
  zoom: 10;
  overflow: hidden;
}

.list-items {
  list-style: none;
  margin-top: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message {
  font-size: 20px;
  line-height: 1.8;
  margin-top: -210px;
  margin-left: -20px;
  padding-left: 10px;
  padding-right: 100px;
  z-index: 100;
  position: absolute;
  transition: 0.5s;
}

.title {
  margin-top: -280px;
  margin-left: -10px;
  padding-left: 0px;
  font-size: 20px;
  z-index: 100;
  position: absolute;
  transition: 0.5s;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(233, 20, 20);
  background-color: rgba(212, 18, 18, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
/* Trying to get a overlay over card

.overlay:hover {
  height: 0%;
  width: 0%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(233, 20, 20);
  background-color: rgba(212, 18, 18, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
*/
.card-inner:hover {
  transition: 0.2s;
  filter: none !important;
  opacity: 1 !important;
}

.wrapper-grid {
  display: grid;
  margin-left: 39%;
  margin-right: 61%;
  justify-content: center;
}

@media screen and (max-width: 410px) {
  .wrapper-grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-top: -0px;
  }
  .list-items {
    margin-top: 10px;
  }
}

@media screen and (min-width: 910px) {
  .wrapper-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-top: -0px;
  }
  .list-items {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1355px) {
  .wrapper-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 150px;
    margin: auto;
  }
  .list-items {
    margin-top: 80px;
  }
}
