
.cardetherscan {
  background-color: #c2deff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  text-align: center;
  margin-left: 50%;
  z-index: 5;
  position: relative;
}

.cardDextools {
  background-color: black;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  text-align: center;
  margin-left: 50%;
  margin-top: -280px;
  z-index: 5;
  position: relative;
}

/*
Responsive
*/
.wrapper-grid {
  display: grid;
  grid-template-columns: minmax(910px 1fr);
  justify-content: center;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 910px) {
  .cardetherscan {
    padding: 40px;
  }
}

@media screen and (min-width: 1355px) {
  
  .cardetherscan {
    animation: 0.5s ease-out 0s 1 slideup;
    padding-top: 40px;
    margin-bottom: 35px;
    margin-left: 24%;
    height: 300px;
    width: 25%;
  }

  .cardDextools {
    animation: 0.5s ease-out 0s 1 slideup;
    padding-top: 55px;
    margin-right: 24%;
    height: 300px;
    width: 25%;
  }
}

@media screen and (min-width: 2200px) {
  .cardetherscan {
    padding-top: 65px;
    margin-bottom: 35px;
    margin-left: 24%;
    height: 300px;
    width: 24%;
  }

  .cardDextools {
    margin-top: -335px;
    padding-top: 65px;
    margin-right: 24%;
    height: 300px;
    width: 24%;
  }
}

@media screen and (max-width: 2200px) {
  .cardetherscan {
    margin-bottom: 35px;
    margin-left: 8%;
    height: 250px;
    width: 40%;
  }

  .cardDextools {
    margin-top: -285px;
    padding-top: 45px;
    margin-right: 9%;
    height: 250px;
    width: 40%;
  }
}

@media screen and (max-width: 910px) {
  .clear {
    clear: both;
  }

  .cardetherscan {
    float: none;
    padding-top: 45px;
    height: 250px;
    width: 80%;
    margin: 25px auto;
  }

  .cardDextools {
    float: none;
    padding-top: 45px;
    margin: auto;
    height: 250px;
    width: 80%;
  }
}
@keyframes slideup {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-0%);
  }
}