.locker {
  top: 0;
  margin-top: -20px;
  width: 100%;
  font-size: 100%;
  height: 400px;
  background-color: white;
  color: black;
  position: relative;
  z-index: 1;
}

.h2 {
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 200%;
  margin-top: 20px;
  margin-left: 150px;
  width: 40%;
}

@media (max-width: 895px) {
  .locker {
    margin-top: 0px;
    height: 100%;
    font-size: 100%;
    height: 400px;
    background-color: white;
    color: black;
  }

  .h2 {
    font-size: 150%;
    width: 40%;
    margin:auto;
  }
}
